.modalDetails {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 4rem;
    border-radius: 1rem;
    background: aquamarine;
    border: 1px solid black;
}

.modalDetails img {
    width: 5rem;
}

.modalDetails p{
    font-weight: bolder;
    margin: 0;
}